.navbar {
  // bug fix for strange layout on mobile with flex
  @media only screen and (min-width: map-get($grid-breakpoints, 'xs')) and (max-width: map-get($grid-breakpoints, 'md')-1) {

    .block--gmfoodtheme-branding {
      position: absolute;
      right:$spacer;
      top:3px;
      width: 50%;

      img {
        width: 100%;
        margin-left: $spacer;
      }
    }

    // colour for mobile menus
    div.sf-accordion-toggle.sf-style-white a {
      background-color: $gray-200;
      color:$primary;
      border:1px solid $gray-500;
    }
    ul.sf-menu.sf-style-white li {
      background-color: $gray-200;
      color:$primary;
    }
  }

  // on ipad, always show the menu
  @media only screen and (min-width: map-get($grid-breakpoints, 'md')) and (max-width: map-get($grid-breakpoints, 'lg')) {
    .sf-menu {
      display:flex !important;
    }
  }


  // max image logo size
  img {
    max-width:300px;
    border:3px solid $gray-200;
  }
  // override superfish menu colour
  ul.sf-menu.sf-style-white {
    a, span.nolink {
      color: $primary;
    }
  }
}

