fc-calendar-1 {
  background-color: #FF0000;
}

fc-calendar-2 {
  background-color: #FFCC00;
}

fc-calendar-3 {
  background-color: #66CC00;
}

fc-calendar-4 {
  background-color: #6600CC;
}

fc-calendar-5 {
  background-color: #FF00CC;
}
