{#
/**
 * @file
 * Template for a Node.
 */
#}
<div{{ title_attributes }}>
  <span class="event-date-start"><span class="from">From </span>{{ content.field_inline_event_date }}</span>
  {% if content.field_event_end_date_time %}
     <span class="event-date-end"><span class="to">To </span>{{ content.field_event_end_date_time }}</span>
  {% endif %}
</div>

