{#
/**
 * @file
 * Template for a Node.
 */
#}
{% extends '@gmfoodtheme/content/node.html.twig' %}

{% block title %}
  <h3{{ title_attributes }}>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
{% endblock %}


