<br/>
{% for key, item in items %}
------------------------------------------------------------------------------
.... NEWS {{ key + 1 }}: {{ item.content|render|striptags|trim }}
<div>&nbsp;</div><br/>
{% endfor %}


