// Page: Footer
// -----------------------------------------------------------------------------
.page__footer {
  color: white;
  background-color: $darker_green;

  li.menu-item, li.nav-item {
    display:inline-block;
    padding-right:$spacer;
    padding-top: $spacer;
  }
  a {
    color: white;

    &:hover {
      color:$pale_green;
    }
  }
}
