@import "../base/variables";

/*
 * General forms
 */


// make form buttons light green
 input[type='submit'] {
   text-align: center;
   background-color:#669933;
   border-color:#666633;
 }

// make all form add / delete / edit buttons bright green
input[type='submit'][name='op'] {
  text-align: center;
  background-color:#66CC00;
  border-color:#66AA00;
  font-weight: bold;
}


.form-required:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(../../../../core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}


/*
 * /node/add/event form
 */
.node-event-form {
  .tabledrag-toggle-weight {
    display:none;
  }
  .field--name-field-event-dates.field--widget-inline-entity-form-simple {

    // hide the title on inkine event dates items
    div[data-drupal-selector$='-inline-entity-form-title-wrapper'] {
      display: none;
    }
  }
  // hide the URL form item
  .js-form-type-vertical-tabs {
    display: none;
  }
}


/*
 * Search form
 */

.search-block-form {

  input[type='search'] {
    text-align: center;
    width:100%;

    @media only screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      text-align: left;
    }
  }

  input[type='submit'] {
    text-align: center;
    background-color:#66CC00;
    border-color:#339900;
  }

  .form-item-keys {
    flex-grow:1;
  }
}

/*
 * General admin forms
 */
div[data-drupal-selector="edit-field-layout"] {
  padding-bottom: 1rem;
}

// fix bug with bootstrap timepicker not showing
.collapse.in:not(.show) {
  display: block;
}

// put duration fields on the same line
.field--type-duration {
  .form-item {
    display: inline-block;
    margin-right: $spacer;
  }
}


/*
 * Validation
 */

.form-control.error {
  border: 1px solid $red;
}
.form-item--error-message {
  color:$red;
}
