body {
  background-color: rgb(241, 245, 248);
}

// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  color:$primary;
  font-weight:strong;
}

h1 {
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}
// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {
  color:$primary;

  @include hover {
    color:$pale_green;
  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}

.ui-dialog.ui-widget {
  z-index: 1050 !important;
}
